
*.lock
*.ide-shm
*.ide
*.ide-wal

obj/
bin/**/*.exe
bin/**/*.exe.config
bin/**/*.pdb
bin/**/*.zip
.vs/MovingEngine/v15/Server/sqlite3/db.lock
.vs/MovingEngine/v15/Server/sqlite3/storage.ide
.vs/MovingEngine/v15/Server/sqlite3/storage.ide-shm
.vs/MovingEngine/v15/Server/sqlite3/storage.ide-wal
.vs/MovingEngine/v15/.suo
.vs/MovingEngine/v16/.suo
bin/Debug/settings.ini
